:root {
  --primary-color: #3498db;
  --button-size: 60px;
  
}

.App {
  text-align: center;
}

.add-task-button {
  position: fixed;
  bottom: 20px; 
  right: 20px; 
  background-color: #0077FF;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 50%; 
  cursor: pointer;
  font-size: 24px; 
  /* z-index: 1001;  */
}

@media (max-width: 768px) {
  
  .add-task-button {
    bottom: 10px;
    right: 10px;
  }
}


